* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #101010;
}

/* header style */

header {
  width: 100%;
  max-height: 100%;
  padding: 1em 0;
  box-shadow: 0px 0px 5px #000;
}

.navbar {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-image {
  max-width: 2rem;
}

.navbar > ul {
  display: flex;
  align-items: center;
}

.navbar > ul li {
  list-style: none;
  margin: 0 1em;
}

.navbar > ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar > ul li a:hover {
  transition: 0.1s;
  color: gold;
}

/* main style */

.container {
  min-height: 100vh;
  padding: 1em;
  font-size: 0.8rem;
}

/* flash message style */

.flash-message-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flash-message {
  max-width: 100%;
  padding: 0.5em;
  margin-top: 2em;
  text-align: center;
  color: #fff;
  border-radius: 0.5em;
  border: 2px solid gold;
  background-color: transparent;
}

/* register form style */

.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.form-container {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 2em;
}

form > .input-area {
  display: flex;
  flex-direction: column;
}

form > .input-area label {
  margin-bottom: 0.2em;
  font-size: 1rem;
  color: #fff;
}

form > .input-area input {
  width: 25vw;
  padding: 0.7em;
  margin-bottom: 1em;
  outline: none;
  border: none;
  border-radius: 0.2em;
}

form > input[type="submit"] {
  cursor: pointer;
  width: 25vw;
  padding: 0.6em;
  margin-top: 1em;
  outline: none;
  border: none;
  border-radius: 0.2em;
  font-size: 1rem;
  color: #fff;
  background-color: goldenrod;
}

form > input[type="submit"]:hover {
  transition: 0.1s;
  background-color: rgb(177, 134, 27);
}

form > span {
  margin-top: 1em;
  color: #fff;
}

form > span a {
  text-decoration: none;
  color: gold;
}

form > span a:hover {
  transition: 0.1s;
  opacity: 70%;
}

#register-title {
  margin-left: 0.5em;
  color: #fff;
}

.title-area {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.border-title {
  width: 0.4em;
  height: 3em;
  background-color: gold;
}

#home-title {
  color: #fff;
}

/* dashboard style */

.content {
  width: 100%;
  height: 100%;
}

.content .title-container {
  width: 100%;
  max-height: 100%;
}

.content .title-container > h1 {
  margin-bottom: 1em;
}

.content .text-border {
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-top: 10em;
}

.content .text-border .border {
  width: 0.4em;
  height: 3em;
  background-color: gold;
}

.content .text-border > h2 {
  color: goldenrod;
  margin-left: 0.5em;
}

.content .title-container .criar-pensamento-btn {
  padding: 1em;
  margin: 0 1em;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5em;
  background-color: goldenrod;
}

.content .title-container .criar-pensamento-btn:hover {
  transition: 0.1s;
  background-color: rgb(177, 134, 27);
}

.content .thought-list {
  display: flex;
  flex-direction: column;
  margin: 2.5em 1em;
}

.content .thought-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0.5em 0;
  margin: 0.5em 0;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid #202020;
}

.content .thought-list li .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .thought-list li .actions a {
  margin-right: 1em;
  font-size: 1rem;
  color: gold;
}

.content .thought-list li .actions a:hover {
  transition: 0.1s;
  opacity: 70%;
}

li .actions form {
  margin: 0 0 auto;
}

li .actions form button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: red;
}

li .actions form button:hover {
  transition: 0.1s;
  opacity: 70%;
}

.thoughts-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.thoughts-container figure {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  border-bottom: 1px solid #202020;
}

.thoughts-container figure blockquote {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.thoughts-container figure figcaption {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: goldenrod;
}

.home-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
}

.home-header .search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-header .search-form input[type="text"] {
  width: 25vw;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  outline: none;
}

.home-header .search-form > input[type="submit"] {
  width: 25vw;
  padding: 0.5em;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5em;
}

.home-header .order-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.home-header .order-container > span {
  font-size: 0.7rem;
  font-weight: 500;
  color: #fff;
}

.home-header .order-container .order-actions {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.home-header .order-container .order-actions form {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 0 auto;
}

.home-header .order-container .order-actions form > button {
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: gold;
  border: none;
  margin: 0 1em 0 0;
}

.home-header .order-container .order-actions .eraser {
  font-size: 1rem;
  color: gold;
}

.home-header #home-title > span {
  color: gold;
}

.home-header p {
  text-align: center;
  margin-top: 2em;
  font-weight: 500;
  font-size: 0.8rem;
  color: #fff;
}

.qty {
  color: gold;
}

/* footer style */

footer {
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0px 0px 5px #000;
}

footer > span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .navbar > ul li a {
    font-weight: bold;
  }

  .home-header .search-form #input-search {
    width: 90%;
    padding: 1em;
  }

  .home-header .search-form #btn-search {
    width: 90%;
    padding: 1em;
  }

  .home-header .order-container span {
    font-size: 1.2rem;
  }

  .home-header .order-container .order-actions form button {
    font-size: 1.5rem;
  }

  .home-header .order-container .order-actions .eraser {
    font-size: 1.5rem;
  }

  .thoughts-container figure blockquote {
    font-size: 1.2rem;
  }

  /* login form */

  .auth-container .form-container form .input-area label {
    font-size: 1.2rem;
  }

  .auth-container .form-container form .input-area input {
    width: 100%;
    padding: 1em;
  }

  .auth-container .form-container form input[type="submit"] {
    width: 80vw;
    padding: 0.7em;
    font-weight: bold;
    font-size: 1rem;
  }

  .auth-container .form-container form span {
    font-size: 1rem;
    font-weight: 500;
  }

  /* dashborad */

  .content .text-border h2 {
    font-size: 1.5rem;
  }

  .content .thought-list li span {
    font-size: 1.2rem;
  }

  .content .thought-list li .actions #edit {
    font-size: 1.2rem;
  }

  .content .thought-list li .actions form button i {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .navbar > ul li a {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .home-header .search-form #input-search {
    width: 80%;
    padding: 1em;
  }

  .home-header .search-form #btn-search {
    width: 80%;
    padding: 1em;
  }

  .home-header .order-container span {
    font-size: 1.2rem;
  }

  .home-header .order-container .order-actions form button {
    font-size: 1.5rem;
  }

  .home-header .order-container .order-actions .eraser {
    font-size: 1.5rem;
  }

  .thoughts-container figure blockquote {
    font-size: 1.5rem;
  }

  /* login form */

  .auth-container .form-container form .input-area label {
    font-size: 1.2rem;
  }

  .auth-container .form-container form .input-area input {
    width: 100%;
    padding: 1em;
  }

  .auth-container .form-container form input[type="submit"] {
    width: 80vw;
    padding: 0.7em;
    font-weight: bold;
    font-size: 1rem;
  }

  .auth-container .form-container form span {
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* dashborad */

  .content .text-border h2 {
    font-size: 2rem;
  }

  .content .thought-list li span {
    font-size: 1.5rem;
  }

  .content .thought-list li .actions #edit {
    font-size: 1.5rem;
  }

  .content .thought-list li .actions form button i {
    font-size: 1.5rem;
  }
}