* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #101010;
}

/* header style */

header {
  width: 100%;
  max-height: 100%;
  padding: 1em 0;
  box-shadow: 0px 0px 5px #000;
}

.navbar {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-image {
  max-width: 2rem;
}

.navbar > ul {
  display: flex;
  align-items: center;
}

.navbar > ul li {
  list-style: none;
  margin: 0 1em;
}

.navbar > ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar > ul li a:hover {
  transition: 0.1s;
  color: gold;
}

#thoughts-a {
  color: gold;
}

#thoughts-a:hover {
  transition: 0.1s;
  opacity: 70%;
}

/* main style */

.container {
  min-height: 100vh;
  padding: 1em;
  font-size: 0.8rem;
}

/* flash message style */

.flash-message-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flash-message {
  max-width: 100%;
  padding: 0.5em;
  margin-top: 2em;
  text-align: center;
  color: #fff;
  border-radius: 0.5em;
  border: 2px solid gold;
  background-color: transparent;
}

/* register form style */

.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.form-container {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 2em;
}

form > .input-area {
  display: flex;
  flex-direction: column;
}

form > .input-area label {
  margin-bottom: 0.2em;
  font-size: 1rem;
  color: #fff;
}

form > .input-area input {
  width: 25vw;
  padding: 0.7em;
  margin-bottom: 1em;
  outline: none;
  border: none;
  border-radius: 0.2em;
}

form > input[type="submit"] {
  cursor: pointer;
  width: 25vw;
  padding: 0.6em;
  margin-top: 1em;
  outline: none;
  border: none;
  border-radius: 0.2em;
  font-size: 1rem;
  color: #fff;
  background-color: goldenrod;
}

form > input[type="submit"]:hover {
  transition: 0.1s;
  background-color: rgb(177, 134, 27);
}

form > span {
  margin-top: 1em;
  color: #fff;
}

form > span a {
  text-decoration: none;
  color: gold;
}

form > span a:hover {
  transition: 0.1s;
  opacity: 70%;
}

#register-title {
  margin-left: 0.5em;
  color: #fff;
}

.title-area {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.border-title {
  width: 0.4em;
  height: 3em;
  background-color: gold;
}

#home-title {
  color: #fff;
}

/* dashboard style */

.content {
  width: 100%;
  height: 100%;
}

.content .title-container {
  width: 100%;
  max-height: 100%;
}

.content .title-container > h1 {
  margin-bottom: 1em;
}

.content > h2 {
  margin-top: 3em;
}

.content .title-container .criar-pensamento-btn {
  padding: 1em;
  margin: 0 1em;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5em;
  background-color: goldenrod;
}

/* footer style */

footer {
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0px 0px 5px #000;
}

footer > span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  opacity: 70%;
}
