<div class="auth-container">

  <div class="form-container">
    <div class="title-area">
      <div class="border-title"></div>
      <h1 id="register-title">Criar pensamento</h1>
    </div>

    <form action="/thoughts/add" method="POST">
      <div class="input-area">
        <label for="title">Pensamento</label>
        <input type="text" name="title" />
      </div>
      <input type="submit" value="Criar pensamento" />
    </form>
  </div>
</div>