<div class="content">
  <div class="title-container">
    <h1 id="register-title">Dashboard</h1>
    <a href="/thoughts/add" class="criar-pensamento-btn">Criar pensamentos</a>
  </div>
  <div class="text-border">
    <div class="border"></div>
    <h2>Seus pensamentos</h2>
  </div>
</div>